{if $smarty.get.error}
    <div class="alert alert-danger">
        {intl l="error :" d="tntsearch.bo.default"} {$smarty.get.error}
    </div>
{/if}

{if $smarty.get.success}
    <div class="alert alert-success">
        {intl l="The indexes are correctly generated" d="tntsearch.bo.default"}
    </div>
{/if}


<div class="general-block-decorator">
    <a href="{url path='/admin/module/TntSearch/generateIndexes'}" class="btn btn-danger">{intl l='GENERATE INDEXES' d="tntsearch.bo.default"}</a>
</div>

