<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="tnt-search" class="TntSearch\Loop\TntSearchLoop" />
    </loops>

    <services>
        <service id="tntsearch.update.listener" class="TntSearch\EventListeners\UpdateListener">
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="tntsearch.generate.indexes.listener" class="TntSearch\EventListeners\GenerateIndexesListener">
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

    <hooks>
        <hook id="tntsearch.hook" class="TntSearch\Hook\BackHook">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration"/>
        </hook>
    </hooks>

    <commands>
        <command class="TntSearch\Commands\GenerateIndexesCommand"/>
    </commands>

</config>
